html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #bada55;
}

.container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  margin-top: 1vw;
  align-items: center;
}

.note {
  width: 40vw;
  height: 40vw;
  font-size: 25vw;
  background-color: white;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.note:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.button-big, .button-small {
  display: flex;
  /* flex-direction: row; */
  width: 7vw;
  height: 7vw;
  margin: 0 1vw;
  padding: 1vw;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
  font-size: 2vw;
}

.button-small {
  width: 3vw;
  height: 3vw;
  font-size: 2vw;
}

.button-big:hover, .button-small:hover {
  background-color: #ecf0dc;
}

.hidden {
  display: none;
}
